<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="showSignin">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Python Flask App</h3>
        </div>
 
        <div class="jumbotron">
            <h1>ROBBIN REWARD APP</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Problem</h4>
                <p>Waste management is the problem we have taken upon ourselves to solve. Problem of waste is endemic in our society. We have focused on areas where the influx of people is monitored, and there are defined entry and exit points. The main reason why waste management is such a tough problem, is because of littering. We thought about the cause of littering, people do care about the environment and cleanliness but do not simply think it is worth it at a conscious level, so we have simply incentivized it. Next logical problem we would encounter is the effecient management of dustbins. We don't want that filled dustbins should stop people from throwing their waste, so we have made the process automatic, whenever full the dustbin will automatically dump all its waste at a prescribed dumping site and come back to its original position</p>
            </div>
 
            <div class="col-lg-6">
                <h4>Features</h4>
                <ol><li>We use LEDs to indicate the level of waste. </li>
                    <li> The dustbin when full, follows the line and goes to the dumping point and then dumps the waste and comes back. </li>
                    <li>We have implemented a reward system, that gives people reward points for using the dustbin, that can then be exchanged for gifts.</li>
                </ol>
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; AG1</p>
        </footer>
 
    </div>
</body>
 
</html>